__pycache__/
*.py[cod]
*$py.class
.vscode/
.idea/
.DS_Store
.env
.venv
venv/
*.tar.gz
meta_model_ft_*.pth
!weights/meta_model_ft.pth

data/Automatic_Evaluation_Data/
data/Subjective_Evaluation_Data/
results/auto_eval_results*
results/subj_eval_results*
results/results_dual*
results/meta_vis
weights/meta_model_ft_*
*.zip